<div class="slider-home" data-slide1="https://static1.squarespace.com/static/50ce46ece4b01020c34fd52b/t/574b522001dbae6639167a07/1464554038338/"
  data-slide2="https://media.foody.vn/res/g70/690046/prof/s576x330/foody-mobile-21151718_25803249804-849-636416680003261766.jpg"
  data-slide3="https://static1.squarespace.com/static/50ce46ece4b01020c34fd52b/t/563d6aa2e4b0ff1b9668fd4c/1446865591436/"
  data-slide4="http://img.cdn2.vietnamnet.vn/Images/english/2017/09/17/16/20170917163128-1.jpg"
  data-slide5="http://danielfooddiary.com/wp-content/uploads/2015/09/soi553.jpg"
  data-current="1">
</div>

<div class="search-bar" style="padding: 15px;">
  <div class="search-form" style="width: 500px;">
    <%= search_form_for @q, url: root_path do |f| %>
      <div class="input-group input-group-lg">
        <div class="form-group has-feedback has-clear input-group-lg">
          <%= f.text_field :title_cont, class: "form-control",
            placeholder: "Search", id: "searchinput" %>
          <span id="searchclear" class="form-control-clear glyphicon
            glyphicon-remove-circle form-control-feedback"></span>
        </div>
        <span class="input-group-btn">
          <%= f.submit "Search", class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>

</div>

<div class="container-fluid">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-3 main-side-menu">
        <div style="padding: 15px 10px;color: white; height: 60px; background: rgba(133,108,88,0.51); font-size: 1.2em">Latte Milktea</div>
        <div style="padding: 15px 10px;color: white; height: 60px; background: rgba(162,123,112,0.51); font-size: 1.2em">Cheese Milktea</div>
        <div style="padding: 15px 10px;color: white; height: 60px; background: rgba(145,104,105,0.48); font-size: 1.2em">Matcha Milktea</div>
        <div style="padding: 15px 10px;color: white; height: 60px; background: rgba(132,92,125,0.51); font-size: 1.2em">Others</div>
      </div>

      <div class="col-sm-9 main-side-content" style="margin-top: 20px;">
        <div id="pagination" class="apple-pagination">
          <%= paginate @reviews, remote: true %>
        </div>
        <div id="review-zone">
          <%= render "review" %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .slider-home {
    height: 93vh;
    transition: 1s;
    animation: fadeBlur 7.2s infinite;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
  var slide1 = 'url('+$('.slider-home').attr('data-slide1')+')';
  var slide2 = 'url('+$('.slider-home').attr('data-slide2')+')';
  var slide3 = 'url('+$('.slider-home').attr('data-slide3')+')';
  var slide4 = 'url('+$('.slider-home').attr('data-slide4')+')';
  var slide5 = 'url('+$('.slider-home').attr('data-slide5')+')';

  function loopSlider(counter) {
    var slide;
    switch(counter%5) {
      case 0:
        slide = slide1;
        break;
      case 1:
        slide = slide2;
        break;
      case 2:
        slide = slide3;
        break;
      case 3:
        slide = slide4;
        break;
      case 4:
        slide = slide5;
        break;
      default:
        slide = slide1;
        break;
    }
    counter++;
    $('.slider-home').fadeOut(1200).css('background', slide).fadeIn(1500);
    setTimeout(function(){loopSlider(counter)}, 7000);
  }

  loopSlider(0)
</script>
