<div class="container" style="margin-top: 80px">
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-body avatar-body">
        <% if @user.avatar == nil %>
          <div class="avatar">
          </div>
        <% else %>
          <div class="avatar"
            style="background: url('<%= @user.avatar %>') no-repeat center center;
              background-size: cover">
          </div>
        <% end %>
        <div class="h2style text-center" style="margin-bottom: 5px;"><%= @user.name.truncate(20) %></div>
      </div>
    </div>
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path do %>
        <div class="btn btn-primary" style="width: 100%; padding: 10px 0;
          border-radius: 2px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        text-transform: uppercase; font-size: 1.2em">
          Edit
        </div>
      <% end %>
    <% end %>
    <!--TODO: follow-->
  </div>
  <div class="col-sm-9 animated wow fadeInDown" data-wow-delay="0.6s">
    <div class="panel panel-primary">
      <div class="panel-body" style="padding-bottom: 1px;">
        <div class="panel-nav">
          <div class="text-center user-nav-btn" style="display:inline-block; padding: 0 15px;
          border-left: 4px solid rgba(255,69,21,0.71)">Info</div>
        </div>
        <div class="info nav-content" style="border-bottom: 1px solid rgba(0, 0, 0, 0.16);">
          <p>Email: <%= @user.email %></p>
          <p>Address: <%= @user.address %></p>
          <p>Birthday: <%= @user.birthday %></p>
          <p>joined since: <%= @user.created_at.strftime('%d/%m/%Y') %></p>
        </div>
        <div class="panel-nav">
          <div class="text-center user-nav-btn" style="display:inline-block; padding: 0 15px;
            border-left: 4px solid rgba(28,172,255,0.93)">Review</div>
        </div>
        <div class="nav-content">
          <% @user.review.each do |review| %>
            <div class="col-sm-4 item-show-img" style="background: url('<%= image_path(review.image.url)%>');
              background-size: cover; background-position: center center;
              background-repeat: no-repeat; background-color: black">
              <div class="img-overlay">
                <div class="" style="font-size: 2em; font-weight: bold;">
                  <%= link_to review.title, review,
                    style: "color: white !important; background: rgba(136,136,136,0.62)" %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
</style>
<script type="text/javascript" charset="utf-8">
  $('.panel-nav').on('click', function() {
    var a = $(this).next();
      if(a.hasClass('hiding')) {
        a.show();
      } else {
        a.hide();
      }
      a.toggleClass('hiding');
  });
</script>
