<div class="container">
  <h1><%= t "review.fav" %></h1>
  <% @like.each do |like| %>
    <% review = Review.find_by_id like.review_id %>
    <% if review %>
      <% if review.image.url != nil %>
        <div class="col-sm-3 main-content-item1" style="background-image: url('<%= image_path(review.image.url) %>');
          background-size: cover; background-position: center; background-repeat: no-repeat;">
          <div class="item-content" style="font-size: 2em;">
            <%= link_to review.title.truncate(20), review, class: "review-title",
                        title: "#{review.title}" %><br>
            <div class="row" style="margin: 0">
              <div class="review-price-from col-sm-6">
                <%= t "home.review.from" %> <%= review.price_from %>
              </div>

              <div class="review-price-to col-sm-6">
                <%= t "home.review.to" %> <%= review.price_upto %>
              </div>
            </div>
          </div>

          <span class="review-star" style="">
          <%= review.average_point.round(1) %>
        </span>
        </div>
      <% else %>
        <div class="col-sm-3 main-content-item1" style="background-image: url('http://img1.cookinglight.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2016/12/main/grapefruit-soda.jpg?itok=VOZWdiFr');
          background-size: cover; background-position: center; background-repeat: no-repeat;">
          <div class="item-content" style="font-size: 2em;">
            <%= link_to review.title.truncate(20), review, class: "review-title",
                        title: "#{review.title}" %><br>
            <div class="row" style="margin: 0">
              <div class="review-price-from col-sm-6">
                <%= t "home.review.from" %> <%= review.price_from %>
              </div>

              <div class="review-price-to col-sm-6">
                <%= t "home.review.to" %> <%= review.price_upto %>
              </div>
            </div>
          </div>

          <span class="review-star" style="">
          <%= review.average_point.round(1) %>
        </span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
