<div class="container">
  <div class="form-center col-sm-4 col-sm-offset-4">
    <h2 class="text-center">Create new review </h2>
    <%= form_for :review, url: reviews_path, method: :post do |f| %>
      <div class = "field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class = "field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>

      <div class="row">
        <div class="field col-sm-9">
          <%= f.label :store %>
          <%= f.text_field :store, autofocus: true, class: "form-control" %>
        </div>

        <div class="field col-sm-3">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_field :content, class: "form-control form-control-content" %>
      </div>
      <div class="actions">
        <%= f.submit "Save Change", class: "btn btn-primary btn-form" %>
      </div>
    <% end %>
  </div>
</div>

