<div class="container">
  <div class="col-sm-3">
    <img src="" alt="" id="img_prev" style="width: 100%; margin-top: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
  </div>
  <div class="form-new-review col-sm-9">
    <h2 class="text-center"><%= t :Create_new_review %></h2>
    <%= form_for :review, url: reviews_path, method: :post do |f| %>
      <div class = "field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>

      <div class="field">
        <%= f.label t("review.title") %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="field" style="margin-top: 10px;">
        <%= f.label t("review.flavour") %>
        <%= f.select :aji_id,
          Aji.all.collect { |type| [ type.label, type.id ] },
          { include_blank: 'Select Flavour' },
          class:"ui dropdown js--select-event-type semantic-ui-form" %>
      </div>

      <div class="row">
        <div class="field col-sm-6">
          <%= f.label t("review.store") %>
          <%= f.text_field :store, autofocus: true, class: "form-control" %>
        </div>

        <div class="field col-sm-2">
          <%= f.label t("review.price_from") %>
          <%= f.number_field :price_from, class: "form-control", min: 0 %>
        </div>

        <div class="field col-sm-2">
          <%= f.label t("review.to") %>
          <%= f.number_field :price_upto, class: "form-control", min: 0 %>
        </div>

        <div class="field col-sm-2">
          <%= f.label t("review.currency") %>
          <%= f.text_field :currency, class: "form-control" %>
        </div>
      </div>

      <div style="padding: 10px 0; margin: 10px 0;">
        <div class="field" style="font-weight: bold; font-size: 1.2em"><%= t :Rating %></div>

        <div class="row" style="padding: 10px 0; background: rgba(210,247,213,0.64)">
          <div class="field col-sm-3">
            <%= f.label t("review.quality") %>
            <%= f.number_field :quality, class: "form-control", max: 10, min: 0 %>
          </div>
          <div class="field col-sm-3">
            <%= f.label t("review.place") %>
            <%= f.number_field :place, class: "form-control", max: 10, min: 0  %>
          </div>
          <div class="field col-sm-3">
            <%= f.label t("review.service") %>
            <%= f.number_field :service, class: "form-control", max: 10, min: 0  %>
          </div>
          <div class="field col-sm-3">
            <%= f.label t("review.price") %>
            <%= f.number_field :price, class: "form-control", max: 10, min: 0  %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label t("review.content") %><br />
        <%= f.text_area :content, class: "form-control form-control-content" %>
      </div>

      <div class = "field">
        <%= f.label t("review.image") %>
        <%= f.file_field :image, onchange: "readURL(this)" %>
      </div>
      <div class="actions">
        <%= f.submit t("review.save"), class: "btn btn-primary btn-form" %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
</script>
